/*  your css code here. If applicable */
*{
	margin:0px;
	padding:0px;
}
.hero{
	display:flex;
	justify-content:center; 
	align-items:center;
}
.hero>img{
	width:400px;
	height:200px;
	object-fit:cover;
}
.section{
	margin-left:40px;
	text-align:center;
	box-sizing:border-box;
}

button{
	font-weight:700;
	margin-top:10px;
	background-color:red;
	border:none;
	border-radius:5px;
	padding:10px;
	color:white;
	margin-left:50px;
}

